	body{
	margin: 0;
		background-image: url("img/lady.jpg");
	background-repeat: no-repeat;
	}
	header{
		background-color: transparent;
		height: 120px;
		display: initial;
		position: fixed;
		width: 100%;
	top: 0;


	}
	#logo{
		float: left;
		margin-left: 350px;
		line-height: 120px;
	}
	nav{
		float: right;
		
		line-height: 120px;
		margin-right: 420px;
	}
	nav a{
		text-decoration: none;
		margin-left: 35px;
		color: black;
		font-weight: bold;
	}
	#main{
		clear: both;
		margin-top: 100px;
	}
	#divleft{
		float: left;
		margin-left: 350px;
	}
	table{
		background-color: white;
		
		margin-right: 50px;
		position: fixed;
		right: 0;
	
		

	}
	td{
		padding: 20px 10px 10px 10px;
	}
	#bigB{
		clear: both;
		display: flex;
		margin-left: 250px;
		margin-top: 500px;
		padding-top: 100px;


	}
	.planner{
		margin-top: 30px;
	}
	#box1{
		border-radius: 10px;
		background-color: #b3ffec;
		width: 400px;
	padding: 50px 60px;
		text-align: left;
		
	}
	#h2F{
		font-size: 25px;
		padding-top: 30px;
		color: blue;
		font-size: 30px;
	}
	#h2F1{
		color: black;
		font-weight: bold;

	}
	#divp{
		font-weight: thin;
		text-align: left;
	}
	button{
		background-color: white;
		text-align: center;
		height: 50px;
		width: 120px;
		font-weight: bold;
		margin-top: 50px;
		border-radius: 10px;

	}
	.button{
		text-align: left;

	}
	#box2{
		border-radius: 10px;
		background-color:#ccffff;
		width: 400px;
	padding: 50px 60px ;
		text-align: left;
		margin-top: -20px;
		height: 350px;
		
		
	}
	#box3{
	border-radius: 10px;
		background-color: #b3ffec;
		width: 400px;
	padding: 40px;
		text-align: left;
		height: 315px;
		
	}
	#div3{
		clear: both;
		margin-top: 60px;

	}
	#div3img{
		float: left;
		margin-left: 250px;
		margin-top: 50px;
	}
	#indiv3{
		margin-top: 20px;
		width: 400px;
		float: right;
		width: 500px;
		 
		margin-right:200px;
	}


.greenButton{
	
	color: white;
	text-align: left;

}
.greenButton button{
	background-color:#99ff99;
	margin-top: 0;
	width: 400px;
	text-align: left;
	padding-left: 30px;

}
h5{
	color: blue;

}
#indiv3 div p{
	margin-top: 50px;
}
#div4{
	clear: both;
	background-image: url("img/rect.jpg");
	width: 100%;
	height: 1150px;
	margin-top: 800px;
	text-align: center;

}
#indiv4{

	padding-top: 100px;
}

#schedule{
	border-radius: 20px;
	background-color: white;
	width :1300px;
	height: 800px;
	margin: 50px auto ;
	clear: both;

}

.sections{
	float: left;
	width: 320px;
	text-align: left;
	margin-top:100px;
	margin-left: 100px;

}
#div5{
	clear: both;
	background-image: url("img/nurse.jpg");
	width: 100%;
	height: 800px;
	background-repeat: no-repeat;
	background-position: right;
	margin: 0;

}
#indiv5{
	float: left;
	margin-left: 400px;
	margin-top:200px;
	width: 510px;
}

#doc button{
	background-color: #00cc99;
	color: white;
	width: 180px;
	border-radius: 30px;
	border: none;
}

#div6{
	clear: both;
width: 100%;
height:350px;
background-color: #f4f4f4;
align-items: center;
margin-top: -50px;

}

#indiv6{

float: left; 
	margin-left: 400px;
margin-top: 30px;
display: flex;





}
#indiv6 h1{
	font-size: 50px;
	color: #404040;
}
#indiv6 div{
text-align: center;
margin-left: 100px;
margin-right: 100px;
margin-top: 50px;
}
#indiv6 div h1{
	margin-bottom: 10px; 
	font-size: 50px;
	font-family: 'Montserrat', sans-serif;
	color: #505050;
	font-weight: 700;

}

hr{
	background-color: #3ce2ad;
	width: 20px;
	height: 2px;
	border: none;
	margin-top: 0;
}
h6{
	font-size: 14px;
	font-weight: 400;
	margin-top: 15px;
	font-family: 'Montserrat', sans-serif;
	color: #505050;
}
#div7{

	background-image: url("img/BG.jpg");
	background-repeat: no-repeat;
	width: 100%;
	height: 1000px;
	margin:0;
}

#bigB1{
	background-color: #d4fdfe;
	width: 350px;
	height: 650px;
	text-align: center;
	float: left;
	margin-left: 80px;

}
.first{
	padding-top: 15px;

}
.first div h2{

font-family: 'Roboto', sans-serif;
color: #3a3a3a;
font-size: 24px;
font-weight: 700;
}
.number{
	font-family: 'Montserrat', sans-serif;;
	font-weight: 900;
	font-size: 50px;
	color: #3a3a3a;
}
span{
	font-size: 30px;
	font-weight: 400;

}
